CTP_PROJECT_KEY=xxxxx
CTP_CLIENT_SECRET=xxxxx
CTP_CLIENT_ID=xxxxx
CTP_AUTH_URL=https://auth.eu-central-1.aws.commercetools.com
CTP_API_URL=https://api.eu-central-1.aws.commercetools.com
CTP_SCOPES=manage_project:xxxxx