

.sidebar {
    padding-left: 0.5em;
    padding-top: 0.5em;
    top: 0;
    position: absolute;
    width:100px;
    height:100%;
    background-color:#826F66;
    flex-direction:column;
    color:#FFFDFB;
}

.dinnerset-info {
    flex-direction:column;
    justify-content:center; 
    align-items:center; 
    background-color: #826F66; 
    width:30%; 
    height:80%; 
    position:absolute; 
    top:10%; 
    left:15%; 
    color:#FFFDFB;
}

.normal-text {
    font-size: 1em;
}

.big-text {
    font-size: 2em;
    font-weight: bold;
}



@media screen and (width <= 859px) {
    .normal-text {
        font-size: 0.75em;
    }
    
    .big-text {
        font-size: 1.25em;
    }
}

@media screen and (width <= 700px) {
    .dinnerset-info {
        width:100%; 
        height:354px; 
        position:relative; 
        left:0; 
        top: 100%;
    }

    .normal-text {
        font-size: 1em;
    }
    
    .big-text {
        font-size: 2em;
    }
}

